﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-113px;
  width:606px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:130px;
  width:606px;
  height:170px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:87px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:153px;
  width:180px;
  height:87px;
  display:flex;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:101px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:146px;
  width:220px;
  height:101px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4 label {
  left:0px;
  width:100%;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:251px;
  width:43px;
  height:15px;
  display:flex;
}
#u4 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4_img.selected {
}
#u4.selected {
}
#u4_img.disabled {
}
#u4.disabled {
}
#u4_img.selected.error {
}
#u4.selected.error {
}
#u4_img.selected.hint {
}
#u4.selected.hint {
}
#u4_img.selected.error.hint {
}
#u4.selected.error.hint {
}
#u4_img.mouseOver.selected {
}
#u4.mouseOver.selected {
}
#u4_img.mouseOver.selected.error {
}
#u4.mouseOver.selected.error {
}
#u4_img.mouseOver.selected.hint {
}
#u4.mouseOver.selected.hint {
}
#u4_img.mouseOver.selected.error.hint {
}
#u4.mouseOver.selected.error.hint {
}
#u4_img.mouseDown.selected {
}
#u4.mouseDown.selected {
}
#u4_img.mouseDown.selected.error {
}
#u4.mouseDown.selected.error {
}
#u4_img.mouseDown.selected.hint {
}
#u4.mouseDown.selected.hint {
}
#u4_img.mouseDown.selected.error.hint {
}
#u4.mouseDown.selected.error.hint {
}
#u4_img.mouseOver.mouseDown.selected {
}
#u4.mouseOver.mouseDown.selected {
}
#u4_img.mouseOver.mouseDown.selected.error {
}
#u4.mouseOver.mouseDown.selected.error {
}
#u4_img.mouseOver.mouseDown.selected.hint {
}
#u4.mouseOver.mouseDown.selected.hint {
}
#u4_img.mouseOver.mouseDown.selected.error.hint {
}
#u4.mouseOver.mouseDown.selected.error.hint {
}
#u4_img.focused.selected {
}
#u4.focused.selected {
}
#u4_img.focused.selected.error {
}
#u4.focused.selected.error {
}
#u4_img.focused.selected.hint {
}
#u4.focused.selected.hint {
}
#u4_img.focused.selected.error.hint {
}
#u4.focused.selected.error.hint {
}
#u4_img.selected.disabled {
}
#u4.selected.disabled {
}
#u4_img.selected.hint.disabled {
}
#u4.selected.hint.disabled {
}
#u4_img.selected.error.disabled {
}
#u4.selected.error.disabled {
}
#u4_img.selected.error.hint.disabled {
}
#u4.selected.error.hint.disabled {
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:26px;
  white-space:nowrap;
  text-transform:none;
}
#u4_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u5 label {
  left:0px;
  width:100%;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:251px;
  width:43px;
  height:15px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u5_img.selected {
}
#u5.selected {
}
#u5_img.disabled {
}
#u5.disabled {
}
#u5_img.selected.error {
}
#u5.selected.error {
}
#u5_img.selected.hint {
}
#u5.selected.hint {
}
#u5_img.selected.error.hint {
}
#u5.selected.error.hint {
}
#u5_img.mouseOver.selected {
}
#u5.mouseOver.selected {
}
#u5_img.mouseOver.selected.error {
}
#u5.mouseOver.selected.error {
}
#u5_img.mouseOver.selected.hint {
}
#u5.mouseOver.selected.hint {
}
#u5_img.mouseOver.selected.error.hint {
}
#u5.mouseOver.selected.error.hint {
}
#u5_img.mouseDown.selected {
}
#u5.mouseDown.selected {
}
#u5_img.mouseDown.selected.error {
}
#u5.mouseDown.selected.error {
}
#u5_img.mouseDown.selected.hint {
}
#u5.mouseDown.selected.hint {
}
#u5_img.mouseDown.selected.error.hint {
}
#u5.mouseDown.selected.error.hint {
}
#u5_img.mouseOver.mouseDown.selected {
}
#u5.mouseOver.mouseDown.selected {
}
#u5_img.mouseOver.mouseDown.selected.error {
}
#u5.mouseOver.mouseDown.selected.error {
}
#u5_img.mouseOver.mouseDown.selected.hint {
}
#u5.mouseOver.mouseDown.selected.hint {
}
#u5_img.mouseOver.mouseDown.selected.error.hint {
}
#u5.mouseOver.mouseDown.selected.error.hint {
}
#u5_img.focused.selected {
}
#u5.focused.selected {
}
#u5_img.focused.selected.error {
}
#u5.focused.selected.error {
}
#u5_img.focused.selected.hint {
}
#u5.focused.selected.hint {
}
#u5_img.focused.selected.error.hint {
}
#u5.focused.selected.error.hint {
}
#u5_img.selected.disabled {
}
#u5.selected.disabled {
}
#u5_img.selected.hint.disabled {
}
#u5.selected.hint.disabled {
}
#u5_img.selected.error.disabled {
}
#u5.selected.error.disabled {
}
#u5_img.selected.error.hint.disabled {
}
#u5.selected.error.hint.disabled {
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:26px;
  white-space:nowrap;
  text-transform:none;
}
#u5_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:259px;
  width:89px;
  height:32px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
