{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap_4.3.1_css_bootstrap.min.css' %}" rel="stylesheet">
</head>
<body class="text-center">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:80vh">
            <div class="col-4">
                <img class="mb-4" src="{% static 'ykhy-logo.png' %}" alt="" width="350" height="72"> <!-- Update this with your own logo if needed -->


                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="用户名" class="form-control" placeholder="用户名" required autofocus>
                    <input type="password" name="密码" class="form-control" placeholder="密码" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
                </form>





                <p class="mt-5 mb-3 text-muted">© 2023</p> <!-- Update the copyright year -->
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

