<!-- ecspriceapp/templates/prices.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECS Prices</title>
</head>
<body>
    <form action="{% url 'update_data' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Update Data">
    </form>
    <table border="1">
        <tr>
            <th><a href="?sort_by=region">Region</a></th>
            <th><a href="?sort_by=instance_type">Instance Type</a></th>
            <th><a href="?sort_by=spot_price">Spot Price</a></th>
            <th><a href="?sort_by=origin_price">Origin Price</a></th>
            <th><a href="?sort_by=discount">Discount</a></th>
            <th>Time</th>
            <th>CPU</th>
            <th>Memory</th>
        </tr>
        {% for price in prices %}
            <tr>
                <td>{{ price.region }}</td>
                <td>{{ price.instance_type }}</td>
                <td>{{ price.spot_price }}</td>
                <td>{{ price.origin_price }}</td>
                <td>{{ price.discount }}</td>
                <td>{{ price.timestamp }}</td>
                <td>{{ price.cpu_core_count }}</td>
                <td>{{ price.memory_size }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
