{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vendor Cards</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <div class="card-container">
    {% for vendor in vendors %}
        <div class="card" data-vendor="{{ vendor.name }}" onclick="showOptions('{{ vendor.name }}')">
            <img src="{% static vendor.logo %}" alt="{{ vendor.name }} logo">
        </div>
    {% endfor %}
</div>

    <div id="cloud-options" class="popup">
        <div id="cloud-options-content" class="popup-content">
            <!-- Content will be populated by JavaScript -->
        </div>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>
