body {
    font-family: Arial, sans-serif;
}

.card-container {
    display: flex;
    justify-content: center; /* 居中对齐卡片 */
    flex-wrap: wrap; /* 允许卡片换行 */
}

.card {
    margin: 30px; /* 增加间距 */
    width: 250px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px; /* 圆角 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 阴影 */
    text-align: center; /* 文字居中 */
    cursor: pointer; /* 改变鼠标光标 */
    transition: all 0.3s ease; /* 添加过渡动画 */
}

.card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* 改变阴影 */
    transform: translateY(-5px); /* 添加一个小的抬升效果 */
}

.card img {
    width: 200px;
    height: 100px;
    margin-top: 25px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.popup-content .card {
    margin: 10px;
}
