﻿{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Page 3</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/static/files/page_3/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/static/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="/static/resources/scripts/axure/axQuery.js"></script>
    <script src="/static/resources/scripts/axure/globals.js"></script>
    <script src="/static/resources/scripts/axutils.js"></script>
    <script src="/static/resources/scripts/axure/annotation.js"></script>
    <script src="/static/resources/scripts/axure/axQuery.std.js"></script>
    <script src="/static/resources/scripts/axure/doc.js"></script>
    <script src="/static/resources/scripts/messagecenter.js"></script>
    <script src="/static/resources/scripts/axure/events.js"></script>
    <script src="/static/resources/scripts/axure/recording.js"></script>
    <script src="/static/resources/scripts/axure/action.js"></script>
    <script src="/static/resources/scripts/axure/expr.js"></script>
    <script src="/static/resources/scripts/axure/geometry.js"></script>
    <script src="/static/resources/scripts/axure/flyout.js"></script>
    <script src="/static/resources/scripts/axure/model.js"></script>
    <script src="/static/resources/scripts/axure/repeater.js"></script>
    <script src="/static/resources/scripts/axure/sto.js"></script>
    <script src="/static/resources/scripts/axure/utils.temp.js"></script>
    <script src="/static/resources/scripts/axure/variables.js"></script>
    <script src="/static/resources/scripts/axure/drag.js"></script>
    <script src="/static/resources/scripts/axure/move.js"></script>
    <script src="/static/resources/scripts/axure/visibility.js"></script>
    <script src="/static/resources/scripts/axure/style.js"></script>
    <script src="/static/resources/scripts/axure/adaptive.js"></script>
    <script src="/static/resources/scripts/axure/tree.js"></script>
    <script src="/static/resources/scripts/axure/init.temp.js"></script>
    <script src="/static/resources/scripts/axure/legacy.js"></script>
    <script src="/static/resources/scripts/axure/viewer.js"></script>
    <script src="/static/resources/scripts/axure/math.js"></script>
    <script src="/static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/static/data/document.js"></script>
    <script src="/static/files/page_3/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u0" class="ax_default" data-left="51" data-top="140" data-width="682" data-height="211" layer-opacity="1">

        <!-- Unnamed (Rectangle) -->
        <div id="u1" class="ax_default box_1">
          <div id="u1_div" class=""></div>
          <div id="u1_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2" class="ax_default box_1">
          <div id="u2_div" class=""></div>
          <div id="u2_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u3" class="ax_default image">
          <img id="u3_img" class="img " src="/static/images/page_3/regen/u3.png"/>
          <div id="u3_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u4" class="ax_default box_1">
          <div id="u4_div" class=""></div>
          <div id="u4_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u5" class="ax_default image">
          <img id="u5_img" class="img " src="/static/images/page_3/regen/u5.png"/>
          <div id="u5_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6" class="ax_default box_1">
          <div id="u6_div" class=""></div>
          <div id="u6_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u7" class="ax_default image">
          <img id="u7_img" class="img " src="/static/images/page_3/regen/u7.png"/>
          <div id="u7_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u8" class="ax_default box_1">
        <div id="u8_div" class=""></div>
        <div id="u8_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9" class="ax_default heading_1">
        <div id="u9_div" class=""></div>
        <div id="u9_text" class="text ">
          <p><span>付费类型</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10" class="ax_default sticky_2">
        <div id="u10_div" class=""></div>
        <div id="u10_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11" class="ax_default sticky_2">
        <div id="u11_div" class=""></div>
        <div id="u11_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12" class="ax_default label">
        <div id="u12_div" class=""></div>
        <div id="u12_text" class="text ">
          <p><span>包年包月</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13" class="ax_default label">
        <div id="u13_div" class=""></div>
        <div id="u13_text" class="text ">
          <p><span>按量付费</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14" class="ax_default heading_1">
        <div id="u14_div" class=""></div>
        <div id="u14_text" class="text ">
          <p><span>地域</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15" class="ax_default sticky_2">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16" class="ax_default label">
        <div id="u16_div" class=""></div>
        <div id="u16_text" class="text ">
          <p><span>中国东部</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u17" class="ax_default droplist">
        <div id="u17_div" class=""></div>
        <select id="u17_input" class="u17_input">
          <option class="u17_input_option" value="请选择其他地域">请选择其他地域</option>
          <option class="u17_input_option" selected value="中国东部">中国东部</option>
          <option class="u17_input_option" value="中国南部">中国南部</option>
          <option class="u17_input_option" value="中国西部">中国西部</option>
          <option class="u17_input_option" value="中国北部">中国北部</option>
          <option class="u17_input_option" value="中国中部">中国中部</option>
        </select>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u18" class="ax_default line">
        <img id="u18_img" class="img " src="/static/images/page_3/regen/u18.svg"/>
        <div id="u18_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u19" class="ax_default primary_button" onclick="callPythonFunction()">
  <div id="u19_div" class=""></div>
  <div id="u19_text" class="text ">
    <p><span>立即创建</span></p>
  </div>
</div>

    </div>
    <script src="/static/resources/scripts/axure/ios.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function callPythonFunction() {
    $.ajax({
        url: "/create_instance/",
        type: "GET",
        success: function(response) {
            // handle success
            console.log(response);
        },
        error: function(error) {
            // handle error
            console.log(error);
        }
    });
}
</script>

  </body>
</html>
